<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="false">

        <service
            android:name=".activity.service.connection.ConnectionCheckerService"
            android:exported="false"
            android:label="ConnectionCheckerService" />

        <receiver
            android:name=".activity.receivers.InternetConnectionStatusBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="InternetConnectionStatusBroadcastReceiver" />
            </intent-filter>
        </receiver>
    </application>
</manifest>