<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.rooneyandshadows.lightbulb.application">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".activity.service.connection.ConnectionCheckerService"
            android:exported="false"
            android:label="ConnectionCheckerService">
            <!--android:stopWithTask="false"-->
            <!--android:process=":NotificationServiceProcess"-->
        </service>

        <!--<receiver
            android:name=".activity.receivers.BootBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

        <receiver
            android:name=".activity.receivers.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="NotificationBroadcastReceiver" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".activity.receivers.MenuChangedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="MenuChangedBroadcastReceiver" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".activity.receivers.InternetConnectionStatusBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="InternetConnectionStatusBroadcastReceiver" />
            </intent-filter>
        </receiver>
    </application>
</manifest>